= concept('comment/cell', collection: comments, last: comments.last)

- unless comments.last_page?
  #next
    = link_to 'More', |
      next_comments_thing_path(thing_id: @thing, page: comments.next_page), |
      remote: true
